<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>About</title>
    <style>
        body {
            color: rgb(14, 106, 185);
            background-color: rgb(158, 37, 37);
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>
<body>
    <h1>About</h1>
    <a href="/">MAin</a>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, magni odio! A inventore atque nesciunt saepe, temporibus, dolores natus ab iusto velit sint ratione maxime quod numquam sequi rem eius.</p>
</body>
</html>